:root{
    --font-fallback: -apple-system, 'Roboto', sans-serif;
}

body, body[theme=lemon]{
    --primary: #fece2e;
    --primary-border: #d9aa00;
    --secondary: #494949;
    --secondary-border: #595751;
    --lighter-secondary: #6e6d69;
    --background: #141310;
    --low-contrast-background: #383734;

    --primary-r: 254;
    --primary-g: 206;
    --primary-b: 46;

    --lighter-secondary-r: 110;
    --lighter-secondary-g: 109;
    --lighter-secondary-b: 105;
}

body[theme=orange]{
    --primary: #ff8000;
    --primary-border: #d97000;
    --secondary: #494949;
    --secondary-border: #595551;
    --lighter-secondary: #6e6c6a;
    --background: #141210;
    --low-contrast-background: #383634;

    --primary-r: 255;
    --primary-g: 128;
    --primary-b: 0;

    --lighter-secondary-r: 110;
    --lighter-secondary-g: 108;
    --lighter-secondary-b: 106;
}

body[theme=lime]{
    --primary: #95FF00;
    --primary-border: #7bd900;
    --secondary: #494949;
    --secondary-border: #565951;
    --lighter-secondary: #6a6d6a;
    --background: #131410;
    --low-contrast-background: #363834;

    --primary-r: 149;
    --primary-g: 255;
    --primary-b: 0;

    --lighter-secondary-r: 106;
    --lighter-secondary-g: 109;
    --lighter-secondary-b: 106;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "urbanist", var(--font-fallback), serif;
}

body, #root {
    background-color: #f9f9f9;
    color: #333;
    overflow: hidden;
    margin: 0;
    position: relative;
}

#root {
    display: flex;
    height: 100vh;
    width: 100vw;
}

aside {
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1rem 2rem;
    background-color: var(--background);
    color: white;
}

.pi::before {
    font-family: "primeicons", serif !important;
}

.p-button-text:not(.p-button-danger) {
    color: var(--primary);

    &:hover {
        background: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.04);
    }

    &:active {
        background: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.16);
    }
}

.p-button:not(.p-button-text) {
    background-color: var(--primary);
    border-color: var(--primary-border);
    color: var(--background);
}

.p-button {
    outline: none;
    &:focus{
        box-shadow: none;

    }
    &.lighter-secondary-bg {
        background-color: var(--lighter-secondary);
        border-color: var(--secondary-border);
        color: white;

        &:hover {
            background-color: rgba(var(--lighter-secondary-r), var(--lighter-secondary-g), var(--lighter-secondary-b), 0.75);
        }

        &:active {
            background-color: rgba(var(--lighter-secondary-r), var(--lighter-secondary-g), var(--lighter-secondary-b), 0.6);
        }
    }
    &.primary-text{
        color: var(--primary);
    }
    &.white-text{
        color: white;
    }
}

.p-button-label{
    font-weight: 600;
}