:root {
    --font-fallback: -apple-system, 'Roboto', sans-serif;
}

body, body[theme=lemon] {
    --primary: #fece2e;
    --primary-border: #d9aa00;
    --secondary: #494949;
    --secondary-border: #595751;
    --lighter-secondary: #6e6d69;
    --background: #141310;
    --low-contrast-background: #383734;

    --primary-r: 254;
    --primary-g: 206;
    --primary-b: 46;

    --lighter-secondary-r: 110;
    --lighter-secondary-g: 109;
    --lighter-secondary-b: 105;

    --background-r: 20;
    --background-g: 19;
    --background-b: 16;
}

body[theme=orange] {
    --primary: #ff8000;
    --primary-border: #d97000;
    --secondary: #494949;
    --secondary-border: #595551;
    --lighter-secondary: #6e6c6a;
    --background: #141210;
    --low-contrast-background: #383634;

    --primary-r: 255;
    --primary-g: 128;
    --primary-b: 0;

    --lighter-secondary-r: 110;
    --lighter-secondary-g: 108;
    --lighter-secondary-b: 106;

    --background-r: 20;
    --background-g: 18;
    --background-b: 16;
}

body[theme=lime] {
    --primary: #95FF00;
    --primary-border: #7bd900;
    --secondary: #494949;
    --secondary-border: #565951;
    --lighter-secondary: #6a6d6a;
    --background: #131410;
    --low-contrast-background: #363834;

    --primary-r: 149;
    --primary-g: 255;
    --primary-b: 0;

    --lighter-secondary-r: 106;
    --lighter-secondary-g: 109;
    --lighter-secondary-b: 106;

    --background-r: 19;
    --background-g: 20;
    --background-b: 16;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "urbanist", var(--font-fallback), serif;
}

body, #root {
    background-color: var(--background);
    color: #333;
    overflow: hidden;
    margin: 0;
    position: relative;
}

#root {
    display: flex;
    height: 100vh;
    width: 100vw;
}

aside {
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1rem 2rem;
    background-color: var(--background);
    color: white;
}

.pi::before {
    font-family: "primeicons", serif !important;
}

.p-button-text:not(.p-button-danger) {
    color: var(--primary);

    &:hover {
        background: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.04);
    }

    &:active {
        background: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.16);
    }
}

.p-button:not(.p-button-text) {
    background-color: var(--primary);
    border-color: var(--primary-border);
    color: var(--background);
}

.p-button {
    outline: none;

    &:focus {
        box-shadow: none;

    }

    &:focus-visible {
        box-shadow: none !important;
    }

    &.lighter-secondary-bg {
        background-color: var(--lighter-secondary);
        border-color: var(--secondary-border);
        color: white;

        &:hover {
            background-color: rgba(var(--lighter-secondary-r), var(--lighter-secondary-g), var(--lighter-secondary-b), 0.75);
        }

        &:active {
            background-color: rgba(var(--lighter-secondary-r), var(--lighter-secondary-g), var(--lighter-secondary-b), 0.6);
        }
    }

    &.primary-text {
        color: var(--primary);
    }

    &.white-text {
        color: white;
    }
}

.p-button-label {
    font-weight: 600;
}

input {
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary-border);
    border-radius: 3rem;
    transition: border .25s ease-out;
    outline: none;
    box-shadow: none;

    &:hover {
        border: 1px solid rgba(var(--primary-r), var(--primary-g), var(--primary-b), .5);
    }

    &:focus {
        border: 1px solid var(--primary);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}

.p-dropdown {
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary-border);
    border-radius: 3rem;
    transition: border .25s ease-out;
    outline: none;
    box-shadow: none;
    z-index: 1;

    &:hover {
        border: 1px solid rgba(var(--primary-r), var(--primary-g), var(--primary-b), .5);
    }

    &:has(.p-dropdown-trigger[aria-expanded=true]) {
        border: 1px solid var(--primary);
    }

    .p-placeholder {
        color: var(--lighter-secondary) !important;
    }

    .p-dropdown-trigger {
        color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .75);
        transition: scale .25s ease-out;

        &[aria-expanded=true] {
            scale: 1 -1;
        }
    }

    .p-dropdown-label {
        color: white;
    }

    .p-dropdown-panel {
        background-color: var(--low-contrast-background);
        border-radius: 22px;
        border: 1px solid var(--secondary-border);
        margin-top: .25rem;
        overflow: hidden;

        .p-dropdown-items {
            padding-block: 0;

            .p-dropdown-item {
                color: rgba(255, 255, 255, .5);

                &.p-highlight {
                    background-color: var(--secondary);
                    color: var(--primary);
                }

                &.p-focus {
                    background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .125);
                    &:not(.p-highlight) {
                        color: white;
                    }
                    &:active {
                        background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .25);
                    }
                }

            }
        }

        .p-dropdown-footer {
            button {
                width: 100%;
                border-radius: 0;
                border: none;

                .p-button-label {
                    flex-grow: 0
                }
            }
        }
    }
}

.p-fileupload{
    display: flex;
    flex-direction: column;
    .p-fileupload-buttonbar{
        background-color: transparent;
        border:none;
        padding: .5rem 0 0;
        justify-content: end;
        order: 2;
        .p-button{
            border-radius: 5rem;
            &.p-fileupload-choose,
            &[aria-label="Cancel"]{
                display:none
            }
        }
    }
    .p-fileupload-content{
        cursor: pointer;
        order: 1;
        background-color:transparent;
        border-radius: 22px;
        border: 1px dashed var(--secondary-border);
        margin-top: 1rem;
        color: var(--lighter-secondary);
        padding: 1rem 1rem;
        &:has(.empty-message){
            padding:0;
        }
        .empty-message{
            padding: 2rem 1rem;
        }
        .p-progressbar{
            position:  absolute;
            inset: auto 0 1.5rem;
            width:80%;
            margin:auto;
            display:none;
        }
        .p-fileupload-row [data-pc-section="actions"]{
            flex-grow: 0;
            button{
                width: 2.25rem;
                height: 2.25rem;
                .p-button-icon::before{
                    font-size: .9rem;
                }
            }
        }
    }
    &:has(.empty-message){
        .p-fileupload-buttonbar{
            display:none;
        }
    }
}

.input-container:has(input:placeholder-shown) ~ .p-fileupload .p-fileupload-buttonbar{
    display:none;
}

.p-dialog {
    border-radius: 2rem;
    width: clamp(200px, 50vw, 500px);
    background-color: var(--background);

    .p-dialog-header {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: var(--low-contrast-background);
        color: var(--primary);

        .p-dialog-header-close {
            box-shadow: none;
            width: 1.75rem;
            height: 1.75rem;
            color: #ef4444;

            &:hover {
                background-color: rgba(239, 68, 68, 0.04)
            }

            &:active {
                background-color: rgba(239, 68, 68, 0.12)
            }

            svg {
                width: .85rem;
                height: .85rem;
            }
        }
    }

    .p-dialog-content {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0 2rem 2rem;
        background-color: var(--low-contrast-background);
        color: white;
        gap: .5rem;
        overflow: visible;

        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;

            label {
                margin-bottom: .5rem;
                color: rgba(255, 255, 255, .75);
            }
        }

        .buttonbar{
            padding-top: .5rem;
            margin-bottom: -.5rem;
            display: flex;
            justify-content: flex-end;
        }

        .input-container:has(input:placeholder-shown, .p-dropdown .p-placeholder) ~ .buttonbar{
            display:none;
        }
    }

}

.p-dialog-mask+.p-dialog-mask{
    animation: none;
}