@font-face {
    font-family: 'alfa_slab_one';
    src: url('../font/alfa-slab-one/alfaslabone-regular-webfont.woff2') format('woff2'),
    url('../font/alfa-slab-one/alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'urbanist';
    src: url('../font/urbanist/Urbanist-Italic-VariableFont_wght.woff2') format('woff2 supports variations'),
    url('../font/urbanist/Urbanist-Italic-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'urbanist';
    src: url('../font/urbanist/Urbanist-VariableFont_wght.woff2') format('woff2 supports variations'),
    url('../font/urbanist/Urbanist-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}