.home-main {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        "wrapper aside"
        "footer footer";
    grid-template-columns: 47% 53%;
    grid-template-rows: auto auto;
    height: 100dvh;
    background-color: var(--background);
    padding: 0;
    color: white;

    .wrapper {
        grid-area: wrapper;
        display: flex;
        flex-direction: column;
        padding: 1.25rem;

        .welcome {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--secondary-border);
            border-radius: 5rem;
            background-color: var(--secondary);
            padding-inline-start: 1.5rem;
            font-weight: 500;

            .button {
                margin: .5rem;
                width: 2.75rem;
                height: 2.75rem;
                font-size: .75rem;
                color: white;

                &:hover {
                    color: var(--primary);
                }
            }

            .login-button {
                height: 2.75rem;
                margin: .5rem;
                transition: background-color .25s ease-out;
            }
        }

        .creators {
            padding-inline: 2rem;
            margin-top: 2rem;

            .label {
                color: var(--lighter-secondary);
                font-size: .85rem;
                margin-inline-end: .25rem;
                margin: 0;
            }

            .info {
                display: flex;
                margin-top: .25rem;
                align-items: center;
                gap: 1rem;
                text-wrap: balance;

                .p-avatar-group .p-avatar {
                    border-color: var(--background);
                }

                .p-avatar.p-avatar-md {
                    width: 2.5rem;
                    height: 2.5rem;

                    img {
                        width: 2.25rem;
                        height: 2.25rem;
                    }
                }

            }
        }

        .intro {
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding: 1rem 2rem;

            .title {
                font-size: 2.75rem;
                font-family: "gloock", serif;
                margin: 1rem 0 0;
            }

            p {
                margin-block: 1.25rem;
                line-height: 1.325;
                text-align: justify;
                opacity: .75;
                mix-blend-mode: hard-light;
            }

            .buttons {
                display: flex;
                justify-content: end;
                gap: .75rem;
                margin-top: .25rem;

                button {
                    transition: background-color .5s ease-in-out,
                    border-color .5s ease-in-out;

                    &.lighter-secondary-bg {
                        transition: background-color .25s ease-out;
                    }
                }
            }
        }
    }

    aside {
        grid-area: aside;
        width: 100%;
        height: 100%;
        padding: 1.25rem 1.25rem 1.25rem 0;
        background-color: inherit;
        border-radius: 1.5rem;

        .example {
            transition: background-color .5s ease-in-out;
            width: 100%;
            height: 100%;
            border-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            box-shadow: inset 0 0 4rem 1rem rgba(0, 0, 0, 0.5);

            &:empty {
                background-color: var(--primary);
                box-shadow: inset 0 0 1.5rem rgba(0, 0, 0, 0.5);
                &::before {
                    content: "OPPI Example";
                    font-size: 2rem;
                    color: black;
                    opacity: .65;
                    mix-blend-mode: color-burn;
                }
            }
        }
    }

    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--low-contrast-background);
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        padding: 2rem 3rem;

        .title-container {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr auto 1fr;
            width: 100%;
            gap: 2rem;
            padding-inline: 4rem;

            .p-divider::before {
                opacity: .75;
                mix-blend-mode: soft-light;
            }

            .title {
                font-size: 1.75rem;
                font-weight: 700;
                text-align: center;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            width: 100%;
            padding: 2rem 2rem;

            .content-item {
                display: grid;
                grid-template-areas:
                    "icon title"
                    "icon text";
                grid-template-columns: auto 1fr;
                grid-template-rows: auto 1fr;
                align-items: center;
                gap: .5rem 1rem;

                .icon {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    background-color: var(--primary);

                    grid-area: icon;
                    transition: rotate .5s ease-in-out,
                    background-color .5s ease-in-out;

                    i {
                        color: var(--low-contrast-background);
                    }
                }

                .title {
                    font-size: 1.5rem;
                    font-family: "urbanist", serif;
                    font-weight: 600;

                    grid-area: title;
                    place-self: start;
                }

                .text {
                    grid-area: text;
                    place-self: start;
                    font-size: .85rem;
                    opacity: .5;
                    mix-blend-mode: hard-light;
                }
            }
        }
    }

    @media (max-width: 1011px) {
        grid-template-areas:
            "wrapper"
            "aside"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;

        aside {
            min-height: 400px;
            padding: 0 1.25rem 1.25rem 1.25rem;
        }

        footer {
            padding: 1.5rem 1rem;

            @media (max-width: 768px) {
                .title-container {
                    padding-inline: .5rem;
                    gap: 1rem;

                    .p-divider {
                        display: none;
                    }

                    .title {
                        grid-column: 1 / -1;
                    }
                }

                .content {
                    grid-template-columns: auto;
                    gap: 2rem;
                    padding: 2rem 1rem .5rem;

                    .content-item {
                        grid-template-rows: 1fr 1fr;

                        .title {
                            align-self: end;
                        }
                    }
                }
            }
        }
    }
}