.map-sidebar{
    height: 100%;
    overflow-y: auto;
    width: calc(var(--sidebar-width) - 1rem);
    border-radius: 1rem;

    .nodes{
        .nodes-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            margin-inline-start: .25rem;
            margin-block-end: .25rem;

            .label{
                display: flex;
                align-items: center;
                font-size: .9rem;
                color: rgba(255, 255, 255, .35);
                height: 2rem;
                margin-block: 0;
            }
            .add-button{
                width: 1.75rem;
                height: 1.75rem;
                * {
                    font-size: .85rem;
                }
            }
        }
        .p-accordion{
            --content-bg: white;
            display: flex;
            flex-direction: column;
            .p-accordion-tab{
            }
            .p-accordion-header-link{
                padding-block: .5rem;
                background-color: var(--secondary);
                border: none;
                color: white;
                border-radius: 2rem;
                z-index: 1;

                .p-accordion-header-text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .node-name{
                        font-weight: 500;
                    }
                    .color-picker{
                            padding: .5rem;
                            margin-block: -.25rem;
                    }
                }
            }
            .p-toggleable-content{
                border: none;
                background-color: var(--content-bg);
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding-top: 1rem;
                margin-bottom: -1rem;
                translate: 0 -1rem;
                overflow: hidden;
                .p-accordion-content{

                }
            }
            &:not(.p-accordion-tab-active){
                .p-toggleable-content-exit-active{
                    translate: 0 calc(-1 * 1rem - 1px);
                }
            }
        }
    }
}