.paths-main {
    .paths-container{
        display: flex;
        flex-direction: column;

        .path-card{
            display: flex;
            background-color: var(--secondary);
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}