.paths-main {
    overflow-y: auto;
    .paths-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 2rem;

        container-type: inline-size;
        container-name: path-card;

        &:not(:has(.path-card))::after {
            content: 'No paths found';
            font-size: 1.75rem;
            color: var(--secondary);
            text-align: center;
            grid-column: 1/-1;
        }

        .path-card {
            display: flex;
            justify-content: space-between;
            background-color: var(--secondary);
            border-radius: 2rem;
            padding: 1rem 1.6rem;
            border: 1px solid var(--secondary-border);
            transition: border-color .35s ease-out, opacity .35s ease-out;

            .actions {
                display: flex;
                gap: .5rem;
                -webkit-user-select: none;
                user-select: none;
                grid-column: 2/-1;
                grid-row: 1;
                justify-content: end;

                > i {
                    position: relative;
                    cursor: pointer;
                    z-index: 0;

                    > i {
                        position: absolute;
                        inset: 0;
                        opacity: 0;
                        transition: opacity .35s ease-out;
                        z-index: -1;
                    }
                    &:hover >i{
                        opacity:.25;
                    }
                    &:active >i{
                        opacity:.5;
                    }
                    &.saved >i{
                        opacity:1;
                    }

                }
                i{
                    outline: none;
                    transition: color .35s ease-out;
                }
            }
            &:has(.select-button:hover, .select-button:focus-within){
                border-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .5);
            }
            &:has(.select-button:active){
                border-color: var(--primary);
            }
            .data{
                &:first-child{
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                &:not(:first-child):nth-child(odd){
                    text-align: right;
                }
                span:first-child {
                    opacity: .625;

                    &:not(.no-colons)::after {
                        content: ": ";
                    }
                }
                span:last-child{
                    font-weight: 500;
                    text-wrap: nowrap;
                }
            }
        }

        @container path-card (width < 700px){
            .path-card{
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 1rem;
                grid-auto-flow: row dense;

                .actions{
                    margin-bottom: 1rem;
                }
                .data{
                    margin-bottom: .25rem;
                }
            }
        }

        &:has(.select-button:hover, .select-button:focus-within) >:not(:has(.select-button:hover, .select-button:focus-within)){
            opacity: .75;
        }
        &:has(.select-button:active) >:not(:has(.select-button:active)){
            opacity: .5;
        }
    }
}