:root {
    --sidebar-width: 16.625rem;
}

aside {
    /*position: relative;*/
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #333;
    color: white;
    overflow: hidden;
    z-index: 120;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem .75rem;

    .top {
        position: relative;
        width: 100%;
        height: 5rem;
        display: grid;
        margin-bottom: .5rem;
        align-self: start;
        transition: margin-left .35s ease-out;

        &::after {
            content: '';
            position: absolute;
            left: 1rem;
            top: calc(100% + .5rem);
            width: calc(100% - 2rem);
            height: 1px;
            background-color: white;
            mix-blend-mode: soft-light;
            pointer-events: none;
        }

        > * {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .profile {
            padding: 0 1rem;

            .p-avatar {
                margin-inline-end: .5rem;
            }

            .info {
                display: flex;
                flex-direction: column;

                span {
                    font-size: .85rem;
                    color: rgba(255, 255, 255, .35);
                }

                h2 {
                    margin-block: 0;
                }
            }
        }

        .actions {
            position: absolute;
            left: calc(100% + .25rem);;
            background-color: var(--secondary);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            transition: left .35s ease-out;
            display: flex;
            gap: .25rem;
            padding-inline: 1rem;

            &::before {
                content: '';
                position: absolute;
                width: .25rem;
                height: 3.5rem;
                background-color: var(--secondary);
                left: -.25rem;
                pointer-events: none;
            }

            &:hover {
                left: 0;
            }

            .arrow {
                width: 1.25rem;
                height: 3rem;
                position: absolute;
                left: -1.25rem;
                border-top-left-radius: .75rem;
                border-bottom-left-radius: .75rem;
                background-color: var(--secondary);
                display: flex;
                align-items: center;
                font-size: 1.25rem;

                i {
                    scale: .75 1;
                }

                &::before, &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 100%;
                    width: .25rem;
                    height: .25rem;
                    background-color: var(--low-contrast-background);
                    border-bottom-right-radius: .25rem;
                }

                &::after {
                    top: 100%;
                    border-top-right-radius: .25rem;
                    border-bottom-right-radius: 0;
                }
            }

            .logout-button {
                width: fit-content;
                margin-right: auto;
            }

            .info-button.open {
                background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .16);
                color: var(--primary);

            }
        }

        &:hover .actions{
            left:0;
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: .5rem;
        padding: 0;
        margin: 1rem 0 3rem;

        li {
            button {
                width: 4.54rem;
                height: 4.54rem;
            }
        }
    }

    .logout-button {
        width: 100%;

        .p-button-icon {
            scale: -1;
        }
    }

    .theme-switch-container{
        margin-top: auto;
        padding-top: 1rem;
    }
}

.p-toast.info-toast {
    z-index: 100 !important;
    right: unset !important;
    left: calc(var(--sidebar-width) + 1.25rem) !important;

    .p-toast-message {
        background-color: rgba(var(--lighter-secondary-r), var(--lighter-secondary-g), var(--lighter-secondary-b), .5);
        border-color: var(--primary);
        color: white;
        text-align: justify;

        .p-toast-message-icon{
            color: var(--primary);
        }
        .p-toast-icon-close {
            display: none;
        }

        &.enter {
            animation: fadeindown .35s ease-out forwards;
        }

        &.exit {
            animation: fadeoutup .35s ease-out forwards;
        }
    }
}

@keyframes fadeindown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeoutup {
    from {
        transform: translateY(0);
    }
    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}